# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.env
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Pytest
.pytest_cache/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Data and model outputs
runs/
*.ckpt

# macOS
.DS_Store
gnina
